*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'IBM Plex Serif', serif;
	/*font-family: 'Quattrocento Sans', sans-serif;*/
	/*border: 1px solid red;*/
}

html{
	scroll-behavior: smooth;
}


#port-jumbo {
	border: 8px solid #007bff;
	padding: 8em 4em;
	border-radius: 20px;
	width: 60%;
	/*background-color: #888;*/
}

#jumbo-div {
	height: 100vh;
	border-radius: 0;
	padding-top: 10%;
	background-image: url(./../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background: -webkit-linear-gradient(#000505, #ADF6B1, 0.8 );
	
}
	/*use mb-0 (bootstrap class) or this*/
	/*margin: 0;*/
.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}


.projects {
	background-color: #f2f2f2;
	width: 100%;
	height: 100%;
}


.animated {
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  animation-duration: 500ms;
  /*animation: pulse 1s infinite;*/
}

#about-me h3{
	font-size: 3em;
	font-family: 'IBM Plex Serif', serif;
}

.name {
	font-size: 5em;
	text-transform: uppercase;
	font-family: 'IBM Plex Serif', serif;
	color: #ADF6B1;
	font-weight: 1000;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

}

.description {
	font-size: 2em;
	font-family: 'IBM Plex Serif', serif;
	color: #ADF6B1;
	font-weight: 1000;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

#port-button {
	background-color : rgba(255,255,255, 0.01);
	color: #FEFCFD;
	font-weight: 1000;
}

#port-button:hover {
	background-color: #ADF6B1;
	color: #000505;
}

#about {
	font-size: 2em;
	font-family: 'IBM Plex Serif', serif;
	color: #ADF6B1;
	font-weight: 1000;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	background-color: #000505;

}

#footer {

	font-family: 'IBM Plex Serif', serif;
	background-color: #ADF6B1;
	

}

/*mobile devices*/
@media only screen and (max-width: 400px) {
	#jumbo-div {
		height: 100%;
		padding-top: 7em;
		padding-bottom: 5em; 

	}

	#port-jumbo {
		width: 100%;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.jumbotron h1 {
		font-size: 2em;
		text-transform: uppercase;
	}

	 .jumbotron p {
	 	font-size: 1em;
	 }

	 #about {
	font-size: 24px;
	font-family: 'IBM Plex Serif', serif;
	color: #ADF6B1;
	font-weight: 1000;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	background-color: #000505;

}
}

/*tablet devices*/
@media only screen and (max-width: 400px) {

}